h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
}

h4 {
  margin-top: 28px;
  margin-bottom: 0px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

p {
  margin-top: 12px;
  margin-bottom: 0px;
  color: #707070;
  font-size: 18px;
  line-height: 28px;
}

ul {
  margin-top: 12px;
  margin-bottom: 0px;
  padding-left: 26px;
  color: #707070;
  font-size: 18px;
  line-height: 28px;
  list-style-type: disc;
}

.default-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 88px;
  padding-bottom: 128px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.default-section.hero {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 92vh;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .58)), to(rgba(0, 0, 0, .58))), url('../images/Hero.png');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .58), rgba(0, 0, 0, .58)), url('../images/Hero.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
}

.default-section.courses {
  padding-top: 88px;
  padding-bottom: 128px;
}

.default-section.contact {
  padding-top: 88px;
  padding-bottom: 128px;
}

.default-section.footer {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #fff;
}

.default-section.oahs {
  display: block;
  padding-top: 0px;
  padding-bottom: 64px;
}

.navigation-bar {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  padding: 20px 2%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  background-color: #fff;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.div-block-2 {
  margin-right: 24px;
}

.body {
  font-family: Roboto, sans-serif;
  color: #444;
}

.heading-1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 56px;
  line-height: 72px;
}

.heading-1.center {
  font-size: 52px;
  line-height: 72px;
  text-align: center;
}

.heading-1.white {
  color: #fff;
}

.heading-3 {
  margin-top: 16px;
  margin-bottom: 0px;
  color: rgba(0, 0, 0, .39);
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

.heading-2 {
  margin-bottom: 0px;
  color: rgba(0, 0, 0, .39);
  line-height: 48px;
  font-weight: 400;
}

.heading-2.white {
  color: hsla(0, 0%, 100%, .7);
}

.div-block-3 {
  margin-bottom: 64px;
}

.button {
  margin-left: 0px;
  padding: 16px 20px;
  border: 2px solid #3649a4;
  border-radius: 10px;
  background-color: #3649a4;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.button.outline {
  border: 2px solid #fff;
  background-color: hsla(0, 0%, 100%, 0);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
}

.button.outline:hover {
  background-color: #fff;
  color: #444;
}

.button.outline:active {
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .16)), to(rgba(0, 0, 0, .16)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .16), rgba(0, 0, 0, .16));
}

.button.small-full-width {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.button.small-full-width:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .08)), to(rgba(0, 0, 0, .08)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .08), rgba(0, 0, 0, .08));
}

.button.small-full-width:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .16)), to(rgba(0, 0, 0, .16)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .16), rgba(0, 0, 0, .16));
}

.button.white {
  border-color: #fff;
  background-color: #fff;
  opacity: 1;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #444;
}

.button.white:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .08)), to(rgba(0, 0, 0, .08)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .08), rgba(0, 0, 0, .08));
}

.button.white:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .16)), to(rgba(0, 0, 0, .16)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .16), rgba(0, 0, 0, .16));
}

.button.full-width {
  width: 100%;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  text-align: center;
}

.button.full-width:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .08)), to(rgba(0, 0, 0, .08)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .08), rgba(0, 0, 0, .08));
}

.button.full-width:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .16)), to(rgba(0, 0, 0, .16)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .16), rgba(0, 0, 0, .16));
}

.button.full-width.top-margin-12 {
  margin-top: 12px;
}

.button.left {
  width: 50%;
  padding-right: 12px;
  padding-left: 12px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  text-align: center;
}

.button.left:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .08)), to(rgba(0, 0, 0, .08)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .08), rgba(0, 0, 0, .08));
}

.button.left:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .16)), to(rgba(0, 0, 0, .16)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .16), rgba(0, 0, 0, .16));
}

.button.right {
  width: 50%;
  padding-right: 12px;
  padding-left: 12px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: transparent;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #3649a4;
  text-align: center;
}

.button.right:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(54, 73, 164, .08)), to(rgba(54, 73, 164, .08)));
  background-image: linear-gradient(180deg, rgba(54, 73, 164, .08), rgba(54, 73, 164, .08));
}

.button.right:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(54, 73, 164, .16)), to(rgba(54, 73, 164, .16)));
  background-image: linear-gradient(180deg, rgba(54, 73, 164, .16), rgba(54, 73, 164, .16));
}

.button.margin-left-24 {
  margin-left: 24px;
}

.button.margin-left-24.small {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
}

.dropdown-toggle {
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  border: 2px solid #3649a4;
  border-radius: 10px;
  background-color: #3649a4;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.3px;
}

.dropdown-toggle:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .08)), to(rgba(0, 0, 0, .08)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .08), rgba(0, 0, 0, .08));
}

.dropdown-toggle:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .16)), to(rgba(0, 0, 0, .16)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .16), rgba(0, 0, 0, .16));
}

.nav-dropdown {
  margin-left: 24px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.nav-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 16px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #858585;
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0.3px;
  text-decoration: none;
}

.nav-link:hover {
  color: #3649a4;
}

.nav-link.w--current {
  color: #3649a4;
}

.nav-link.outline {
  margin-left: 24px;
  border: 2px solid #3649a4;
  border-radius: 10px;
  color: #3649a4;
}

.nav-link.outline.hover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 24px;
}

.nav-link.outline.hover:hover {
  background-color: #3649a4;
  color: #fff;
}

.nav-link.outline.hover:active {
  background-color: #3649a4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .16)), to(rgba(0, 0, 0, .16)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .16), rgba(0, 0, 0, .16));
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.divider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.line {
  width: 72%;
  height: 2px;
  background-color: rgba(0, 0, 0, .08);
}

.dropdown-list {
  margin-top: 0px;
}

.dropdown-list.w--open {
  left: -104px;
  width: 256px;
  margin-top: 32px;
  padding: 12px;
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: #fff;
}

.dropdown-list.outline.w--open {
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, .08);
  border-radius: 10px;
}

.form-block {
  margin-bottom: 0px;
}

.form-block.contact-section {
  width: 448px;
}

.text-field {
  display: inline-block;
  height: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, .08);
  border-radius: 10px;
  color: #3649a4;
  font-size: 16px;
}

.text-field:focus {
  border-color: #3649a4;
}

.text-field.large {
  height: 56px;
}

.text-field.text-area {
  max-width: 100%;
  min-height: 40px;
}

.feature-image {
  width: 56px;
  height: 56px;
}

.feature-title {
  color: #444;
  font-size: 20px;
  font-weight: 400;
}

.signature {
  color: #707070;
  font-size: 16px;
  line-height: 24px;
}

.signature.right {
  text-align: right;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.container.reviews {
  margin-top: 32px;
}

.container.courses {
  margin-top: 16px;
}

.container.contact {
  width: 65%;
  margin-top: 48px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.container.plans {
  width: 100%;
  margin-top: 56px;
}

.three-columns-block {
  width: 25%;
  margin: 56px 40px 0px;
}

.three-columns-block.plans {
  width: 368px;
  margin-top: 0px;
  margin-right: 32px;
  margin-left: 32px;
  padding: 24px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, .08);
  border-radius: 10px;
}

.three-columns-block.plans.payment {
  width: 360px;
  margin-right: 16px;
  margin-left: 16px;
}

.two-columns-block {
  width: 40%;
  margin: 24px 40px 0px;
}

.two-columns-block.courses {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
}

.review {
  margin-bottom: 16px;
  padding: 24px;
  border-radius: 24px;
  background-color: rgba(0, 0, 0, .06);
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.review.left {
  position: static;
  left: 0px;
  border-bottom-left-radius: 0px;
}

.review.right {
  border-bottom-right-radius: 0px;
}

.text {
  margin-bottom: 0px;
  color: #707070;
  font-size: 16px;
  line-height: 24px;
}

.text.large {
  font-size: 18px;
  line-height: 28px;
}

.heading-4.payment {
  margin-bottom: 0px;
}

.image-container {
  margin-right: 24px;
  padding-top: 16px;
}

.done-image {
  width: 40px;
  height: 40px;
  max-width: none;
}

.plan-image {
  width: 112px;
  height: 112px;
  max-width: none;
}

.plan-image.plane {
  width: 80px;
  height: 112px;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.price-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
}

.price {
  margin-top: 0px;
  margin-right: 24px;
  margin-bottom: 0px;
  font-size: 20px;
}

.price.light {
  font-weight: 400;
}

.footer {
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: rgba(0, 0, 0, .08);
}

.contact-links {
  margin-bottom: 18px;
  color: #444;
  font-size: 32px;
  line-height: 36px;
  text-decoration: none;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
}

.link-block {
  margin-right: 24px;
}

.social-icon {
  width: 40px;
  height: 40px;
  max-width: none;
}

.success-message {
  height: 256px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, .08);
  border-radius: 10px;
  background-color: transparent;
  font-size: 18px;
}

.success-message.mini {
  height: auto;
  border-style: none;
}

.text-block {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 24px;
  line-height: 36px;
}

.text-block.mini {
  font-size: 20px;
  line-height: 32px;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.emoji {
  font-size: 40px;
}

.emoji.mini {
  font-size: 32px;
}

.error-message {
  padding: 16px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, .08);
  border-radius: 10px;
  background-color: transparent;
}

.error-message.mini {
  border-style: solid;
}

.text-block-2 {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.text-block-2.mini {
  font-size: 16px;
  line-height: 24px;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo {
  width: 132px;
  max-width: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.rich-text-block {
  padding-right: 104px;
  padding-left: 104px;
}

.dropdown {
  position: fixed;
  right: 56px;
  bottom: 40px;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 72px;
  height: 72px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-radius: 100px;
  background-color: #3649a4;
  box-shadow: 0 5px 17px -5px rgba(0, 0, 0, .5);
}

.dropdown:focus {
  cursor: pointer;
}

.dropdown-toggle-contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dropdown-toggle-contact.w--open {
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-menu {
  left: 0px;
  right: 0px;
  bottom: 0px;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.contact-menu.w--open {
  left: auto;
  right: 0px;
  bottom: 93px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 160px;
  padding-top: 8px;
  padding-bottom: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 2px solid #ececec;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 8px 23px -3px rgba(0, 0, 0, .19);
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  text-decoration: none;
}

.message-icon {
  width: 32px;
}

.contact-menu-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #000;
  font-size: 16px;
  text-decoration: none;
}

.contact-menu-link:hover {
  color: #3649a4;
}

.contact-icon {
  width: 40px;
  height: 48px;
  margin-right: 16px;
}

@media (max-width: 991px) {
  .default-section {
    padding-top: 64px;
    padding-bottom: 96px;
  }
  .default-section.hero {
    position: relative;
  }
  .default-section.courses {
    padding-top: 64px;
    padding-bottom: 96px;
  }
  .default-section.contact {
    padding-top: 64px;
    padding-bottom: 96px;
  }
  .default-section.oahs {
    padding-bottom: 0px;
  }
  .heading-1.center {
    font-size: 48px;
    line-height: 64px;
  }
  .heading-1.white {
    font-size: 48px;
    line-height: 64px;
  }
  .heading-3 {
    font-size: 20px;
    line-height: 32px;
  }
  .heading-2.white {
    font-size: 24px;
    line-height: 32px;
  }
  .button.margin-left-24 {
    width: 100%;
    margin-top: 24px;
    margin-left: 0px;
    text-align: left;
  }
  .button.margin-left-24.full-width {
    margin-top: 24px;
    margin-left: 0px;
    text-align: left;
  }
  .nav-dropdown {
    margin-top: 24px;
    margin-left: 0px;
  }
  .nav-link {
    height: 56px;
    border-bottom: 2px solid rgba(0, 0, 0, .08);
  }
  .nav-link.outline.hover {
    margin-top: 24px;
    margin-left: 0px;
    text-align: left;
  }
  .nav-link.last {
    border-style: none;
  }
  .nav-link.bottom {
    border-style: none;
  }
  .nav-menu {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    margin-left: 0px;
    padding: 64px 80px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #fff;
    box-shadow: 0 0 34px 3px #000;
  }
  .line {
    width: 90%;
  }
  .container {
    width: 100%;
  }
  .container.contact {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .container.plans {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }
  .three-columns-block {
    width: 40%;
    margin-right: 24px;
    margin-left: 24px;
  }
  .three-columns-block.plans {
    position: static;
    overflow: visible;
    margin-bottom: 24px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .two-columns-block {
    width: 40%;
    margin-right: 24px;
    margin-left: 24px;
  }
  .two-columns-block.courses {
    margin-right: 16px;
    margin-left: 16px;
  }
  .text.large {
    font-size: 16px;
    line-height: 24px;
  }
  .heading-4 {
    font-size: 22px;
    line-height: 28px;
  }
  .done-image {
    width: 32px;
    height: 32px;
  }
  .plan-image {
    width: 80px;
    height: 80px;
  }
  .plan-image.plane {
    width: 64px;
    height: 80px;
  }
  .div-block-5 {
    margin-bottom: 32px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .div-block-6 {
    margin-top: 16px;
  }
  .icon {
    background-color: transparent;
    font-size: 40px;
  }
  .menu-button {
    position: absolute;
    top: 19px;
    right: 8px;
    z-index: 2;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: transparent;
  }
  .menu-button.w--open {
    background-color: transparent;
    color: #444;
  }
  .logo {
    width: 132px;
  }
  .rich-text-block {
    padding-right: 72px;
    padding-left: 72px;
  }
}

@media (max-width: 767px) {
  .logo {
    width: 130px;
  }
}

@media (max-width: 479px) {
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
  h4 {
    font-size: 20px;
    line-height: 26px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
  ul {
    font-size: 16px;
    line-height: 24px;
  }
  .default-section {
    padding: 40px 8px 64px;
  }
  .default-section.hero {
    position: relative;
    z-index: 10;
    height: 92vh;
    padding-right: 16px;
    padding-bottom: 20vh;
    padding-left: 16px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .default-section.courses {
    padding-top: 40px;
    padding-bottom: 64px;
  }
  .default-section.contact {
    padding: 40px 16px 64px;
  }
  .default-section.footer {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .default-section.oahs {
    padding-right: 16px;
    padding-left: 16px;
  }
  .navigation-bar {
    position: relative;
    padding-right: 16px;
    padding-left: 16px;
  }
  .div-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .div-block-2 {
    margin-right: 0px;
    margin-bottom: 12px;
  }
  .heading-1 {
    font-size: 32px;
    line-height: 40px;
  }
  .heading-1.center {
    font-size: 32px;
    line-height: 40px;
  }
  .heading-1.white {
    font-size: 30px;
    line-height: 40px;
  }
  .heading-2.white {
    font-size: 22px;
    line-height: 28px;
  }
  .div-block-3 {
    margin-bottom: 24px;
  }
  .button.outline {
    text-align: center;
  }
  .button.white {
    display: block;
    margin-right: 0px;
    text-align: center;
  }
  .button.full-width.w--current {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .button.left {
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
  .button.right {
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
  }
  .button.margin-left-24.full-width {
    margin-top: 24px;
    margin-left: 0px;
    text-align: left;
  }
  .nav-dropdown {
    margin-top: 16px;
  }
  .nav-link {
    height: 48px;
  }
  .nav-link.outline.hover {
    margin-top: 16px;
    text-align: left;
  }
  .nav-link.bottom {
    border-style: none;
  }
  .nav-menu {
    position: fixed;
    height: 100vh;
    padding: 16px 64px 16px 16px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0 0 34px 3px rgba(0, 0, 0, .57);
  }
  .dropdown-list.w--open {
    padding: 0px;
  }
  .text-field.large {
    border-radius: 10px;
  }
  .feature-image {
    width: 40px;
    height: 40px;
  }
  .feature-title {
    margin-top: 16px;
    margin-bottom: 8px;
  }
  .container.contact {
    width: 100%;
    margin-top: 24px;
  }
  .container.plans {
    margin-top: 32px;
  }
  .three-columns-block {
    width: 90%;
    margin-top: 32px;
  }
  .three-columns-block.plans {
    width: 125%;
    margin-right: 10px;
    margin-left: 10px;
    padding: 16px;
  }
  .two-columns-block {
    width: 90%;
  }
  .review {
    font-size: 16px;
    line-height: 24px;
  }
  .div-block-4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contact-links {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 24px;
  }
  .social-icon {
    width: 32px;
    height: 32px;
  }
  .div-block-8 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  .icon {
    font-size: 32px;
  }
  .menu-button {
    position: absolute;
    top: 24px;
    right: 16px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .menu-button.w--open {
    position: fixed;
  }
  .bold-text {
    line-height: 32px;
    font-weight: 900;
  }
  .logo {
    width: 132px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .rich-text-block {
    padding-right: 0px;
    padding-left: 0px;
  }
  .brand {
    padding-left: 0px;
  }
  .dropdown {
    right: 16px;
    bottom: 64px;
    z-index: 5;
    width: 56px;
    height: 56px;
  }
  .contact-menu.w--open {
    bottom: 64px;
    width: 90vw;
    height: 206px;
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, .21);
    opacity: 1;
  }
  .message-icon {
    width: 24px;
  }
  .brand-2 {
    padding-left: 10px;
  }
  .brand-2.w--current {
    padding-left: 0px;
  }
}

